/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* =====以上為CSS RESET===== */

* {
    box-sizing: border-box;
}

.wrap {
    width: 940px;
    margin: 0 auto;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo a {
    display: block;
    width: 220px;
    height: 40px;
    background: url(img/logo-all-dark.svg) center center no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.nav,
.nav ul {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav li a {
    font-size: 16px;
    font-weight: bold;
    color: #3F5D45;
    text-decoration: none;
    padding: 15px 30px;
}

.nav li a:hover {
    background-color: #EAF0ED;
}

.nav img {
    padding-left: 50px;
}

.banner {
    margin-bottom: 60px;
}

.banner img {
    max-width: 100%;
}

.container {
    margin-bottom: 10px;
    display: flex;
}

.aside {
    width: 300px;
    font-size: 24px;
    text-align: center;
}

.aside h2 {
    background-color: #3F5D45;
    color: #fff;
    padding: 16px 0;
}

.aside ul li {
    border: 1px solid #EAF0ED;
    border-top: 0;
}

.aside ul li a {
    display: block;
    color: #3F5D45;
    text-decoration: none;
    padding: 16px 0;
}

.aside ul li a:hover {
    background-color: #EAF0ED;
}

.content {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.content li {
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    border: #EAF0ED solid 1px;
}

.content .photo {
    width: 300px;
    height: 315px;
}

.content .item {
    display: flex;
    font-size: 20px;
    color: #3F5D45;
}

.content .item h2 {
    width: 170px;
    text-align: center;
    border-right: #EAF0ED solid 1px;
    padding: 14px 0;
}

.content .item span {
    width: 130px;
    text-align: center;
    font-weight: bold;
    padding: 14px 0;
}

.content .buy a {
    display: block;
    background-color: #EAF0ED;
    color: #3F5D45;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding: 16px 0;
}

.content .buy a:hover {
    background-color: #d6e2dc;
}

.content .mark {
    writing-mode: vertical-lr;
    background-color: #3F5D45;
    font-size: 16px;
    letter-spacing: 5px;
    padding: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 20px;
}

.content .like {
    position: absolute;
    top: 20px;
    right: 20px;
}

.content .like:hover {
    cursor: pointer;
}

.more {
    display: flex;
    justify-content: end;
    margin-bottom: 60px;
}

.more li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #3F5D45;
    text-decoration: none;
    border: #EAF0ED solid 1px;
    margin-left: -1px;
}

.more .links a:hover {
    background-color: #3F5D45;
    color: #fff;
}